<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testproject">
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_main"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testproject"
        tools:targetApi="m"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Add"
            android:exported="false" />
        <activity
            android:name=".WebView_4"
            android:exported="false" />
        <activity
            android:name=".WebView_3"
            android:exported="false" />
        <activity
            android:name=".WebView_2"
            android:exported="false" />
        <activity
            android:name=".WebView_1"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MyActivity"
            android:exported="false" />
        <activity
            android:name=".CareActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ReadBoardActivity"
            android:exported="false"
            android:label="게시글 일기"
            android:parentActivityName=".BoardActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".mainTitle"
            android:exported="false" />
        <activity
            android:name=".BoardActivity"
            android:exported="false" />
        <activity
            android:name=".SignActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>